/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Your app custom styles here */

.toolbar{
  background-color:#FAFAFA;
}
.member-img{
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.tab-link-active{
  i{
    color:#E91E63;
  }
}

.md .tabbar i.icon::before, .md .tabbar-icons i.icon::before{
  background-color: transparent;
}