/* redefine color */
:root {
--f7-md-surface: #fff!important;
--f7-toggle-active-bg-color: #E91E63!important;
--f7-toggle-active-border-color:rgba(0,0,0,0);
}

/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Your app custom styles here */

.page-content{
  width: 100vw;
  overflow-x: hidden;
  background-color: #fff!important;
}


body{
  background-color: fff!important;;
  font-family: 'Work Sans', sans-serif!important;
}

body .block{
  /* color:#8C8A8A!important; */

  /* background-color: #FAFAFA; */
}

.card{
  background:white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 15px -3px rgba(0,0,0,0.07),0 10px 20px -2px rgba(0,0,0,0.04);
}
.toolbar{
  background-color:#FAFAFA;
}
.member-img{
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.tab-link-active{
  i{
    color:#E91E63;
  }
}

.md .tabbar i.icon::before, .md .tabbar-icons i.icon::before{
  background-color: transparent;
}

/* stepper start */
.stepper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* background-color: #f2f2f2; */
  padding: 20px;
}

.step-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
}

.step {
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #fff;
  z-index: 2;
}

.line {
  flex: 1;
  height: 2px;
  background-color: #ccc;
  margin: 5px 0;
  position: relative;
  bottom: 5px;
}

.label {
  text-align: center;
  font-size: 12px;
}

.step.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.line.active {
  background-color: #007bff;
}

@media (max-width: 768px) {
  .step-container {
      margin: 0 5px;
  }

  .step {
      width: 10px;
      height: 10px;
      font-size: 12px;
  }

  .line {
      margin: 2px 0;
  }

  .label {
      font-size: 10px;
  }
}
/* stepper end */

/* gauge chart start */
#myChart{height: 100%;width: 100%;min-height: 200px;}
/* gauge chart end */

/* card date start */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the gap between cards */
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 1rem;
  width: 100vw;
  overflow: auto;
}

.card-date {
  background-color: #eeeeee;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 11%; /* Adjust the card width as needed */

}

.card-day {
  font-weight: bold;
  font-size: 0.7rem;
}

.date {
  font-size: 1rem;
  color: #666;
}
/* card date end  */


.today{
  background-color:#E91E63;
}
.today .card-day,.today .date{
  color:white;
}

/* customize dialog */
.dialog-title{
  font-size: 1rem;
}

/* customize chip */
.chip{
  margin-left: 5px;
}
.chip:first-child{
  margin-left: 0px!important;
}

.text-green{
  color:green
}

.text-red{
  color:red;
}

i{
  cursor: pointer;
}

.md .item-input:not(.item-input-outline) .item-content::before, .md .item-input:not(.item-input-outline).item-content::before{
  background-color: white!important;
}